
/*-----------------------------------------------------------------
		variables 
-------------------------------------------------------------------*/

html {

	/*------
	border
	-------*/

	--border-radius-background: .25rem;
	--border-color-section-seperators: #65696c;

	/*------
	color
	-------*/

	--color-silver: #93979a;
	--color-silver-xlight: #e0e0e0;
	--color-silver-light: #c3c8cb;
	--color-silver-dark: #65696c; 
	--color-silver-xdark: #3b3e41;
	--color-blue: #005dab;
	--color-blue-light: #538add;
	--color-blue-dark: #00347b;
	--color-gold: #c9ac66;
	--color-gold-light: #fede95;
	--color-gold-dark: #967d39;

	/*------
	font
	------*/

	--font-primary: 'Lora', 'Helvetica', serif;
	--font-secondary: 'Montserrat', 'Arial', sans-serif;


	/*------
	line-height
	------*/

	--ratio-line-height: 1.6;

	--line-height-single: calc( 1rem * var(--ratio-margin) );
	--line-height-double: calc( var(--line-height-single) * var(--ratio-line-height) );

	/*------
	margin-scale
	------*/
	
	--ratio-margin: 1.4;

	--margin-single: calc( 2rem * var(--ratio-margin) );
	--margin-double: calc( var(--margin-single) * var(--ratio-margin) );
	--margin-triple: calc( var(--margin-double) * var(--ratio-margin) );

	/*------
	padding-scale
	------*/

	--ratio-padding: 1.7;

	--padding-single: calc( 2rem * var(--ratio-padding) );
	--padding-double: calc( var(--ratio-padding-single) * var(--ratio-padding) );

	/*------
	type-scale
	------*/

	--ratio-type-scale: 1.2;

	--font-size-one: calc( .75rem * var(--ratio-type-scale) );
	--font-size-two: calc( var(--font-size-one) * var(--ratio-type-scale) );
	--font-size-three: calc( var(--font-size-two) * var(--ratio-type-scale) );
	--font-size-four: calc( var(--font-size-three) * var(--ratio-type-scale) );
	--font-size-five: calc( var(--font-size-four) * var(--ratio-type-scale) );
	--font-size-six: calc( var(--font-size-five) * var(--ratio-type-scale) );
	
}

/*-----------------------------------------------------------------
		Typography

-------------------------------------------------------------------*/

html {
	background-color: white;
	color: var(--color-silver-xdark);
	font-family: var(--font-primary);
	font-size: 1rem;
	line-height: var(--line-height-single);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-secondary);
}

h1 {
	background-color: var(--color-gold);
	border-radius: var(--border-radius-background);
	color: white;
	font-size: var(--font-size-two);
	line-height: var(--line-height-double);
	margin: var(--margin-single);
	padding: .5rem ;
	text-align: center;
	
}

h2 {
	
	color: var(--color-silver-dark);
	font-size: var(--font-size-two);
	margin-top: var(--margin-double);
	text-transform: uppercase;

}

h3 {
	color: var(--color-silver-dark);
	border-bottom: 1px solid var(--color-silver-light);
	font-size: var(--font-size-two);
	
}

h4 {
	color: var(--color-silver-dark);
	font-size: var(--font-size-two);
	
}

h5 {
	color: var(--color-silver-light);
	font-size: var(--font-size-two);
	font-weight: 400;
	
}

h6 {
	color: var(--color-silver-light);
	font-size: var(--font-size-one);
	font-weight: 400;
	text-transform: uppercase;
	
}

a {
	color: var(--color-gold);
	letter-spacing: .15rem;
	text-decoration: none;
	text-transform: uppercase;
}

a:visted {
	color: var(--color-blue-light);
}

a:hover {
	color: var(--color-blue-dark);
}

a:focus {
	color: var(--color-blue-light);
	outline: none;
	text-decoration: underline;
}

a:active {
	color: var(--color-blue-light);
}

.logo {
	font-size: var(--font-size-three);
	text-transform: none;
}

/*-----------------------------------------------------------------
		master page layout
-------------------------------------------------------------------*/

body {
	font-family: var(--font-primary);
	line-height: var(--line-height-single);
	margin:;
}

main {
	margin: var(--margin-single) auto;
	max-width: 35rem;
}

figure p {
	margin: 0;
}

/*-----------------------------------------------------------------
		index page layout
-------------------------------------------------------------------*/

#index-introduction h2 {
	border-top: 1px solid var(--border-color-section-seperators);
	padding-top: 2rem;
	
}

ul {
	list-style: none;
	padding-left: 0;
}

/*-----------------------------------------------------------------
		site header component
-------------------------------------------------------------------*/

header {
	padding: var(--padding-single);
}

header ul {
	list-style: none;
	padding-left: 0;
}

header li {
	border-bottom: 1px solid var(--border-color-section-seperators);
	padding: 1rem 0;
}

@media ( min-width: 750px ) {
	header
}

/*-----------------------------------------------------------------
		site footer component
-------------------------------------------------------------------*/

footer {
	background-color: var(--color-silver-xlight); 
	color: var(--color-silver);
	padding: 1rem;
	text-align: center;
}

footer ul {
	list-style: none;
	padding-left: 0;
}

footer li {
	color: var(--silver-xlight);
	display: inline;
}

footer a {
	padding: 1rem;
}

.footer-creation-copyrite {
	border-bottom: 1px solid var(--border-color-section-seperators);
}

/*-----------------------------------------------------------------
		styles page components
-------------------------------------------------------------------*/
.color-swatch text {
	fill: var(--color-silver-dark);
}

.examples {
	display: inline;
	padding: 1rem;
}

.examples-font-primary {
	font-family: var(--font-primary);
	font-size: var(--font-size-two);
}

.examples-font-secondary {
	font-family: var(--font-secondary);
	font-size: var(--font-size-two);
}

.examples-text-featured {
	font-family: var(--font-secondary);
	font-size: var(--font-size-three);
	font-weight: 400;
	line-height: var(--line-height-double);
	margin: var(--margin-double);
}

.examples-text-body {
	font-family: var(--font-primary);
	line-height: var(--line-height-single);
}

.examples-text-body p {
    margin-block-start: 1rem;
    margin-block-end: 1rem;   
}

.example-quote {
	font-style: italic;
	margin: var(--margin-single) var(--margin-single) 0;
}

.examples-text-block-quote {
	margin-bottom: var(--margin-single);
}

.examples-text-tertiary {
	font-family: var(--font-primary);
	font-weight: 400;
}

.examples-text-unordered-list ul {
	list-style: none;

	padding-left: 0;
}

.examples-text-ordered-list {
	margin: 0;
}

.examples-text-ordered-list li {
	list-style: lower-roman;

}

/*-----------------------------------------------------------------
		Components page 
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
		Button Components
--------------------------------------------------------------------*/

/*----------------------
	Button Primary
----------------------*/

.link-button-primary, .link-button-primary-hover, .link-button-primary-visited, .link-button-primary-active, .link-button-primary:visited, .link-button-primary:hover, .link-button-primary:focus, .link-button-primary-dark, .link-button-primary-dark:visited, .link-button-primary-dark:hover, .link-button-dark:focus, .link-button-primary-light, .link-button-primary-light:visited, .link-button-primary-light:hover, .link-button-primary-light:focus {
	color: white;
	background-color: var(--color-blue);
	border-radius: var(--border-radius-background);
	box-shadow: .5rem .25rem .5rem rgba( 0, 0, 0, .35 );
	display: inline-block;
	font-size: var(--font-size-two);
	padding: 1.5rem 2rem;
	margin: var(--margin-single);
	text-decoration: none;
}

.primary-button-states figure {
	align-items: center;
	display: flex;
	
}

.link-button-primary-hover {
	background-color: var(--color-gold);
	box-shadow: .5rem .25rem .5rem rgba( 0, 0, 0, .35 );
	color: var(--color-silver-gold-light);
	outline: none;
}

.link-button-primary-visited:hover {
	color: white;
}

.link-button-primary-active {
	color: var(--color-blue);
	background-color: var(--color-gold-light);
}


.link-button-primary-dark, .link-button-primary-dark:visited {
	background-color: var(--color-blue-dark);

}

.link-button-primary-light, .link-button-primary-light:visited, .link-button-primary-light:hover, .link-button-light:focus {
	background-color: var(--color-blue-light);
}

.link-button-primary:hover, .link-button-primary:focus, .link-button-primary-dark:hover, .link-button-primary-dark:focus, .link-button-primary-light:hover, .link-button-primary-light:focus {
	background-color: var(--color-gold);
	box-shadow: .5rem .25rem .5rem rgba( 0, 0, 0, .35 );
	color: var(--color-silver-gold-light);
	outline: none;
}

.link-button-primary-dark:hover, .link-button-primary-dark:focus {
	background-color: var(--color-gold);
	
}

.link-button-primary-light:hover, .link-button-primary-light:focus {
	background-color: var(--color-gold-light);
	color: var(--color-silver);
}

.link-button-primary:active,.link-button-primary-dark:active, .link-button-primary-light:active {
	background-color: var(--color-gold-light);
}

/*----------------------
	Button Secondary
----------------------*/

.link-button-secondary, .link-button-secondary:visited, .link-button-secondary:hover, .link-button-secondary:focus, .link-button-secondary-dark, .link-button-secondary-dark:visited, .link-button-secondary-dark:hover, .link-button-secondary-dark:focus, .link-button-secondary-light, .link-button-secondary-light:visited, .link-button-secondary-light:hover, .link-button-secondary-light:focus {
	background-color: white;
	border: 1px solid var(--color-blue);
	border-radius: var(--border-radius-background);
	box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
	color: var(--color-blue);
	display: inline-block;
	font-size: var(--font-size-two);
	padding: 1rem 1.5rem;
	margin: var(--margin-single);
	text-decoration: none;
	text-transform: none;
}

.link-button-secondary-dark, .link-button-secondary-dark:visited, .link-button-secondary-dark:hover, .link-button-secondary-dark:focus {
	border: 1px solid var(--color-blue-dark);
}

.link-button-secondary-light, .link-button-secondary-light:visited, .link-button-secondary-light:hover, .link-button-secondary-light:focus {
	border: 1px solid var(--color-blue-light);
	color: var(--color-blue-light);
}

.link-button-secondary:hover, .link-button-secondary:focus, .link-button-secondary-dark:hover, .link-button-secondary-dark:focus, .link-button-secondary-light:hover, .link-button-secondary-light:focus {
	color: white;
	background-color: var(--color-gold);
	border: 1px solid transparent;
	box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
	outline: none;
}

.link-button-secondary-dark:hover, .link-button-secondary-dark:focus {
	color: white;
	background-color: var(--color-gold-dark);
	border: 1px solid var(--color-silver);
}

.link-button-secondary-light:hover, .link-button-secondary-light:focus {
	color: var(--color-blue-dark);
	background-color: var(--color-gold-light);
}

.link-button-secondary:active, .link-button-secondary-dark:active, .link-button-secondary-light:active {
	background-color: var(--color-silver-gold-light);
}

/*----------------------
	Button Tertiary
----------------------*/

.link-button-tertiary, .link-button-tertiary:visited, .link-button-tertiary:hover, .link-button-tertiary:focus, .link-button-tertiary-dark, .link-button-tertiary-dark:visited, .link-button-tertiary-dark:hover, .link-button-tertiary-dark:focus, .link-button-tertiary-light, .link-button-tertiary-light:visited, .link-button-tertiary-light:hover, .link-button-tertiary-light:focus {
	background-color: var(--color-silver-light);
	border-radius: var(--border-radius-background);
	box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
	color: white;
	display: inline-block;
	font-size: var(--font-size-two);
	padding: 1rem 1.5rem;
	margin: var(--margin-single);
	text-decoration: none;
	text-transform: lowercase;
}

.link-button-tertiary-dark,  .link-button-tertiary-dark:visited, .link-button-tertiary-dark:hover, .link-button-tertiary-dark:focus {
	background-color: var(--color-silver-dark);
	color: var(--color-gold);
}

.link-button-tertiary-light,  .link-button-tertiary-light:visited, .link-button-tertiary-light:hover, .link-button-tertiary-light:focus {
	background-color: var(--color-silver-xlight);
	color: var(--color-gold-dark);
}

.link-button-tertiary:hover, .link-button-tertiary-dark:focus, .link-button-tertiary-dark:hover, .link-button-tertiary-dark:focus, .link-button-tertiary-light:hover, .link-button-tertiary-light:focus {
	color: var(--color-blue);
	background-color: var(--color-gold);
	box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
	color: var(--color-silver-gold-light);
	outline: none;
}

.link-button-tertiary:active {
	background-color: var(--color-silver-gold-light);
}

/*------------------------------------------------------------------
		Accordion Components
--------------------------------------------------------------------*/

summary {
	background-color: var(--color-silver-xlight);
	border-radius: var(--border-radius-background);
	box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
	color: var(--color-gold-dark);
  	cursor: pointer;
  	font-size: var(--font-size-two);
  	margin-bottom: .5rem;
  	padding: .75rem;
}

summary:focus {
	background-color: var(--color-gold);
	color: white;
	outline: none;
}

 .details-style {
  border-left: 3px solid var(--color-gold-dark);
  border-radius: var(--border-radius-background);
  font-size: var(--font-size-two);
  padding: 1rem;
  margin: .5rem;
  box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
}

.details-style p {
	margin: 1rem;
}

.details-style ul {
	list-style: circle;
	padding-left: 1rem;
}
