
/*-----------------------------------------------------------------
		variables 
		box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
-------------------------------------------------------------------*/

html {

	/*------
	border
	-------*/

	--border-radius-background: .25rem;
	--border-color-section-seperators: #65696c;

	/*------
	color
	-------*/
	--color-silver-transparent: rgba(147, 151, 154, .35);
	--color-silver: #93979a;
	--color-silver-xlight: #e0e0e0;
	--color-silver-light: #c3c8cb;
	--color-silver-dark: #65696c; 
	--color-silver-xdark: #3b3e41;
	--color-blue: #005dab;
	--color-blue-light: #538add;
	--color-blue-dark: #00347b;
	--color-blue-xdark: #011026;
	--color-gold: #c9ac66;
	--color-gold-light: #edcf8a;
	--color-gold-xlight: #f5e5c1;
	--color-gold-dark: #967d39;
	--color-red: #b30b0b;

	/*------
	font
	------*/

	--font-primary: 'Lora', 'Helvetica', serif;
	--font-secondary: 'Montserrat', 'Arial', sans-serif;


	/*------
	line-height
	------*/

	--ratio-line-height: 1.6;

	--line-height-single: calc( 1rem * var(--ratio-margin) );
	--line-height-double: calc( var(--line-height-single) * var(--ratio-line-height) );

	/*------
	margin-scale
	------*/
	
	--ratio-margin: 1.4;

	--margin-single: calc( 2rem * var(--ratio-margin) );
	--margin-double: calc( var(--margin-single) * var(--ratio-margin) );
	--margin-triple: calc( var(--margin-double) * var(--ratio-margin) );

	/*------
	padding-scale
	------*/

	--ratio-padding: 1.5;

	--padding-single: calc( 2rem * var(--ratio-padding) );
	--padding-double: calc( var(--ratio-padding-single) * var(--ratio-padding) );

	/*------
	type-scale
	------*/

	--ratio-type-scale: 1.2;

	--font-size-one: calc( .75rem * var(--ratio-type-scale) );
	--font-size-two: calc( var(--font-size-one) * var(--ratio-type-scale) );
	--font-size-three: calc( var(--font-size-two) * var(--ratio-type-scale) );
	--font-size-four: calc( var(--font-size-three) * var(--ratio-type-scale) );
	--font-size-five: calc( var(--font-size-four) * var(--ratio-type-scale) );
	--font-size-six: calc( var(--font-size-five) * var(--ratio-type-scale) );
	
}

/*-------------
	box-shadow
	------------*/



/*-----------------------------------------------------------------
		Typography
		box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
-------------------------------------------------------------------*/

html {
	background-color: white;
	color: var(--color-silver-xdark);
	font-family: var(--font-primary);
	font-size: var(--font-size-two);
	line-height: var(--line-height-single);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-secondary);
}

h1 {
	color: var(--color-gold-dark);
	font-size: var(--font-size-four);
	line-height: var(--line-height-double);
	max-width: 100%;
	padding: 4rem;
	text-align: center;
	text-shadow: 1px 1px rgba( 0, 0, 0, .15 );
	
}

h2 {
	
	color: var(--color-gold-dark);
	font-size: var(--font-size-three);
	margin: var(--margin-double) .5rem .5rem;
	text-shadow: 1px 1px rgba( 0, 0, 0, .15 );
	text-transform: uppercase;

}

h3 {
	color: var(--color-silver-dark);
	border-bottom: 1px solid var(--color-silver-light);
	font-size: var(--font-size-two);
	
}

h4 {
	color: var(--color-silver-dark);
	font-size: var(--font-size-two);
	
}

h5 {
	color: var(--color-silver-light);
	font-size: var(--font-size-two);
	font-weight: 400;
	
}

h6 {
	color: var(--color-silver-light);
	font-size: var(--font-size-one);
	font-weight: 400;
	text-transform: uppercase;
	
}

a {
	color: rgba( 0, 0, 0, .65 );
	font-size: var(--font-size-two);
	letter-spacing: .15rem;
	text-decoration: none;
	text-shadow: 1px 1px rgba( 0, 0, 0, .15 );
}

a:visited {
	color: rgba( 0, 0, 0, .25 );
}

a:hover {
	color: var(--color-blue-dark);
	text-decoration: overline;
}

a:focus {
	color: var(--color-gold);
	outline: none;
}

a:active {
	color: var(--color-blue-light);
}

.font-primary {
	font-family: var(--font-primary);
	font-size: var(--font-size-two);
}

.font-secondary {
	font-family: var(--font-secondary);
	font-size: var(--font-size-two);
}

.text-featured {
	border-left: 3px solid var(--color-gold);
	font-family: var(--font-secondary);
	font-size: var(--font-size-two);
	font-weight: 400;
	line-height: var(--line-height-double);
	margin: var(--margin-double);
	padding: 1rem;
}

.text-tertiary, .text-tertiary-error {
	font-family: var(--font-primary);
	font-size: .75rem;
	font-weight: 400;
	margin-top: .5rem;
}

.text-tertiary-error {
	color: var(--color-gold-dark);
}

blockquote {
	border-top: 1px solid var(--color-silver-light);
	border-bottom: 1px solid var(--color-silver-light);
	color: var(--color-gold);
	font-style: italic;
	margin: auto;
	padding: 2rem;
	text-align: center;
}

ul {
	list-style: none;
	font-size: var(--font-size-two);
	padding-left: 1rem;
}

ol li {
	list-style: upper-roman;

}

ol ol li {
	list-style: lower-roman; 
}

ul ul li {
	list-style: disc;
}

@media (min-width: 800px) {

	html {
		font-size: var(--font-size-three);
	}
	
	h1 {
		font-size: var(--font-size-six);
	}

	blockquote {
		font-size: var(--font-size-three);
		line-height: 1.5;
		letter-spacing: .20rem;
	}
}

/*-----------------------------------------------------------------
		master page layout
-------------------------------------------------------------------*/

body {
	font-family: var(--font-primary);
	line-height: var(--line-height-single);
	margin: 0 auto;
}

main {
	margin: auto;
	max-width: 70rem;
}

.body-copy {
	font-family: var(--font-primary);
	line-height: var(--line-height-single);
	margin: var(--margin-single) auto;
	max-width: 35rem;
}

figure {
	margin: .5rem 1rem;
}

figcaption {
	padding: 1rem;
}

.example-card {
	background-color: white;
	border-bottom: 1px solid var(--color-silver);
	box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
	margin: 1rem auto;
	max-width: 25rem;
	padding: 2rem;
}

@media (min-width: 600px) {
	
}

/*-----------------------------------------------------------------
		 color style components
-------------------------------------------------------------------*/

.examples-color { 
	border: none;
	display: inline;
	padding: 1rem;
}

.examples-color text {
	font-size: .5rem;
	fill: var(--color-silver-dark);
}

/*------------------------------------------------------------------
		Button Components
--------------------------------------------------------------------*/

/*----------------------
	Button Primary
----------------------*/

.link-button-primary, .link-button-primary:visited, .link-button-primary-dark, 
.link-button-primary-dark:visited,	.link-button-primary-light, .link-button-primary-light:visited {
	color: white;
	background-color: var(--color-blue);
	border-radius: var(--border-radius-background);
	box-shadow: .5rem .25rem .5rem rgba( 0, 0, 0, .35 );
	display: inline-block;
	font-size: var(--font-size-two);
	padding: 1rem 2rem;
}

.link-button-primary-dark, .link-button-primary-dark:visited {
	background-color: var(--color-blue-dark);

}

.link-button-primary-light, .link-button-primary-light:visited, .link-button-primary-light:hover, .link-button-light:focus {
	background-color: var(--color-blue-light);
}

.link-button-primary:hover, .link-button-primary:focus, .link-button-primary-dark:hover, .link-button-primary-dark:focus, .link-button-primary-light:hover, .link-button-primary-light:focus {
	background-color: var(--color-gold);
	box-shadow: .5rem .25rem .5rem rgba( 0, 0, 0, .35 );
	color: var(--color-silver-gold-light);
	text-decoration: none;
	outline: none;
}

.link-button-primary-dark:hover, .link-button-primary-dark:focus {
	background-color: var(--color-gold);
	text-decoration: none;
}
	
}

.link-button-primary-light:hover, .link-button-primary-light:focus {
	background-color: var(--color-gold-light);
	color: var(--color-silver);
}

.link-button-primary:active,.link-button-primary-dark:active, .link-button-primary-light:active {
	background-color: var(--color-gold-light);
}

/*----------------------
	Button Secondary
----------------------*/

.link-button-secondary, .link-button-secondary:visited, .link-button-secondary-dark, .link-button-secondary-dark:visited, .link-button-secondary-light, .link-button-secondary-light:visited {
	background-color: white;
	border: 1px solid var(--color-blue);
	border-radius: var(--border-radius-background);
	box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
	color: var(--color-blue);
	display: inline-block;
	font-size: var(--font-size-two);
	padding: .5rem 1rem;
	text-transform: none;
}

.link-button-secondary:hover, .link-button-secondary:focus, .link-button-secondary-dark:hover, .link-button-secondary-dark:focus, .link-button-secondary-light:hover, .link-button-secondary-light:focus {
	color: white;
	background-color: var(--color-gold);
	border: 1px solid var(--color-gold);
	box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
	outline: none;
	text-decoration: none;
}

.link-button-secondary-dark, .link-button-secondary-dark:visited, .link-button-secondary-dark:hover, .link-button-secondary-dark:focus {
	border: 1px solid var(--color-blue-dark);
}

.link-button-secondary-light, .link-button-secondary-light:visited, .link-button-secondary-light:hover, .link-button-secondary-light:focus {
	border: 1px solid var(--color-blue-light);
	color: var(--color-blue-light);
}

.link-button-secondary-dark:hover, .link-button-secondary-dark:focus {
	color: white;
	background-color: var(--color-gold-dark);
	border: 1px solid var(--color-gold-dark);
}

.link-button-secondary-light:hover, .link-button-secondary-light:focus {
	color: white;
	background-color: var(--color-gold-light);
	border: 1px solid var(--color-gold-light);
}

.link-button-secondary:active, .link-button-secondary-dark:active, .link-button-secondary-light:active {
	background-color: var(--color-silver-gold-light);
}

/*----------------------
	Button Tertiary
----------------------*/

.link-button-tertiary, .link-button-tertiary:visited, .link-button-tertiary-dark, .link-button-tertiary-dark:visited, .link-button-tertiary-light, .link-button-tertiary-light:visited {
	background-color: var(--color-silver-light);
	border-radius: var(--border-radius-background);
	box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
	color: white;
	display: inline-block;
	font-size: var(--font-size-two);
	padding: .5rem 1rem;
	text-transform: lowercase;
}

.link-button-tertiary:hover, .link-button-tertiary-dark:focus, .link-button-tertiary-dark:hover, .link-button-tertiary-dark:focus, .link-button-tertiary-light:hover, .link-button-tertiary-light:focus {
	background-color: var(--color-gold);
	box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
	color: var(--color-silver-gold-light);
	outline: none;
	text-decoration: none;
}

.link-button-tertiary:active {
	background-color: var(--color-silver-gold-light);
}

.link-button-tertiary-dark, .link-button-tertiary-dark:visited {
	background-color: var(--color-silver-dark);
	color: var(--color-gold);
}

 .link-button-tertiary-dark:hover, .link-button-tertiary-dark:focus {
	background-color: var(--color-gold);
	color: var(--color-silver);
}

.link-button-tertiary-light,  .link-button-tertiary-light:visited {
	background-color: var(--color-silver-xlight);
	color: var(--color-gold-dark);
}

.link-button-tertiary-light:hover, .link-button-tertiary-light:focus {
	background-color: var(--color-gold-light);
	color: var(--color-silver);
}



/*------------------------------------------------------------------
		Accordion Components
--------------------------------------------------------------------*/

summary {
	background-color: var(--color-silver-xlight);
	border-radius: var(--border-radius-background);
	box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
	color: var(--color-gold-dark);
  	cursor: pointer;
  	font-size: var(--font-size-two);
  	margin-bottom: .5rem;
  	max-width: 36rem;
  	padding: .75rem;
}

summary:focus {
	background-color: var(--color-gold);
	color: white;
	outline: none;
}

 .details-content {
	border-left: 3px solid var(--color-gold-dark);
	border-radius: var(--border-radius-background);
	box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
	font-size: var(--font-size-two);
	padding: 1rem;
	margin: .5rem;
	max-width: 35rem;
}

.details-content p {
	margin: 1rem;
}

.details-content ul {
	list-style: circle;
	padding-left: 1rem;
}

.index-details {
	display: inline;
}

/*------------------------------------------------------------------
		Modal Dialog Component
--------------------------------------------------------------------*/

dialog {
	animation: rotate-slide 1s ease;
	border: none;
	border-top: .5rem solid var(--color-gold);
	border-radius: var(--border-radius-background);
	box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .35 );
	min-height: 15rem;
	min-width: 25rem;
	padding: 0;
}

dialog h2 {
	border-bottom: 1px solid var(--color-silver-light);
	display: block;
	margin: .5rem 0;
	padding: .5rem;
}

dialog p {
	margin: auto;
	padding: 1rem;
}

dialog::backdrop {
	animation: transparency-spin .05s ease;
	background-image: url(img/starry-night-sky.png);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.3;
}

.modal-link-button {
	bottom: -3rem;
	position: relative;
	right: -6.5rem;

}

.modal-container {
	width: 100%;
 	height: 100%;
 	position: relative;
 	transition: transform 1s;
 	transform-style: preserve-3d;
}

@keyframes rotate-slide {

	0% {
		opacity: 0;
		transform: translateX(-10rem) scale(2) rotate(-90deg);
	} 

	70% {
		transform: translateX(.75rem) rotate(3deg);
	}

	100% {
		opacity: 1;
		transform: translateX(0) scale(1) rotate(0deg);
	}

}

@keyframes transparency-spin {

	0% {
		opacity: 0;
		transform: translateY(50rem) scale(10) rotate(-90deg);
	}

	70% {
		opacity: .2;
		transform: rotate(3deg);
	}

	100% {
		opacity: .3;
		transform: translateY(0) scale(1) rotate(0deg);
	}

}


/*------------------------------------------------------------------
		Form Components and Example
--------------------------------------------------------------------*/

form h1 {
	border-bottom: 1px solid var(--color-gold);
	color: var(--color-silver-dark);
	font-size: var(--font-size-three);
	text-align: left;
	text-transform: uppercase;
	padding: 2rem 0 0;
}


label, input, select, textarea {
	display: block;
}
	

label {
	margin-top: 1rem;
}

[type="text"], [type="address"], [type="email"], textarea, select {
	box-sizing: border-box;
	min-width: 15vw;
	max-width: 45vw;
	padding: .5rem;
	width: 100%;
}

input:focus, textarea:focus, select:focus {
	background-color: var(--color-gold-xlight);
	outline: none;
}

[type="submit"], button {
	background-color: var(--color-blue);
	border-radius: var(--border-radius-background);
	box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .25 );
	color: var(--color-gold-xlight);
	font-size: var(--font-size-one);
	margin: .5rem 0;
	padding: .75rem 2rem;

}

[type="submit"]:hover, [type="submit"]:focus, button:hover, button:focus {
	background-color: var(--color-gold-xlight);
	color: var(--color-blue-dark);
	outline: none;
}

.submit-light {
	background-color: var(--color-silver);
}

.submit-dark {
	background-color: var(--color-blue-dark);
}

.error {
	border: 2px solid var(--color-gold-dark);
}

.disabled {
	background-color: var(--color-silver);
	opacity: .3;
}

.selection-error {
	border: 2px solid var(--color-gold-dark);
}

textarea {
	box-sizing: border-box;
	border-radius: var(--border-radius-background);
	min-height: 10vh;
	min-width: 20vw;
}

form {
	box-shadow: .5rem .25rem .7rem rgba( 0, 0, 0, .25 );
	padding: 1rem;
}

@media ( min-width: 775px ) {

	form {
		border: 2px solid var(--color-gold-dark);
		margin: auto;
		max-width: 45rem;
		padding: 4rem;
	}

	form h1  {
		border-bottom: none;
	}

	[type="text"], [type="address"], [type="email"], textarea, select {
		min-width: 30vw;
		max-width: 35vw;
}
	
	textarea {
		min-height: 20vh;
}

	form {
		align-items: start;
		display: grid;
		grid-template-columns: repeat(2fr);
		grid-gap: .5rem;
		justify-items: start;

	}

	.grid-form-1 {
		grid-column-start: 1;
		grid-row-start: 1;
	}

	.grid-form-2 {
		grid-column-start: 1;
		grid-row-start: 2;
	}

	.grid-form-3 {
		grid-column-start: 2;
		grid-row-start: 2;

	}

	.grid-form-4 {
		grid-column-start: 1;
		grid-row-start: 3;
	}

	.grid-form-5 {
		grid-column-start: 2;
		grid-row-start: 3;
	}

	.grid-form-6 {
		grid-column-start: 1;
		grid-row-start: 4;
	}

	.grid-form-7 {
		grid-column-start: 1;
		grid-row-start: 5;
	}

	.grid-form-8 {
		grid-row-start: 1;
		grid-row-start: 6;
	}

}


/*-----------------------------------------------------------------
		index layout
-------------------------------------------------------------------*/

.grid-index-2 {
	border-bottom: 1px solid var(--color-silver-light);
	padding: 1rem;
}

.grid-index-3 {
	border-bottom: 1px solid var(--color-silver-light);
	padding: 1rem;
}

.grid-index-4 {
	margin-bottom: 4rem;
	padding: 1rem;
}


@media (min-width: 600px) {


	.grid-index {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(12, 1fr);
		justify-items: start;
		padding: 0 0 3rem;
	}

	.grid-index-1 {
		grid-column-start: 4;
		grid-column-end: 10;
	}
	
	.grid-index-2 {
		border-bottom: 1px solid var(--color-silver);
		grid-column-start: 4;
		grid-column-end: 13;
		grid-row-start: 2;
	}

	.grid-index-3 {
		border-bottom: none;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		margin-bottom: 2rem;

	}

	.grid-index-4 {
		grid-column-start: 4;
		grid-column-end: 13;
		grid-row-start: 3;
		margin-bottom: 1rem;
	}

}

/*-----------------------------------------------------------------
		Primary Nav components
-------------------------------------------------------------------*/

.logo {
	font-size: var(--font-size-two);
	padding: .5rem;
	text-transform: none;
}

.nav-primary {
	margin: 0;
	padding: .5rem 0;
}

.nav-primary a {
	text-transform: uppercase;
}

.nav-primary ul {
	list-style: none;
	padding-left: 0;
}

.nav-primary li {
	border-bottom: 1px solid rgba( 0, 0, 0, .25 );
	padding: 1rem .5rem;
}

.feature-wrap {
	border-bottom: var(--color-silver);
	border-top: var(--color-silver);
}

.feature-wrap .lead {
	background-image: url(img/logo-img.jpg);
	padding: 5% 0 5% 0;
}

.feature-wrap .photo {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: 800px) {

	header {
		font-size: var(--font-size-two);
	}

	header li {
		padding: 1rem .5rem;
	}

	.logo {
		font-size: var(--font-size-four);
	}

	.nav-primary li {
		display: inline-block;
		border-bottom: none;
		border-right: 1px solid rgba( 0, 0, 0, .25 );
		
	}

	.nav-primary li:last-child {
		border-right: none;

	}

	.feature-wrap .lead {
		padding: 10% 0 2.5% 0;
	}

}

@media (min-width: 1150px) {

	.feature-wrap .lead {
		padding: 25% 0 0 0;
	}

	.nav-primary a {
		font-size: var(--font-size-three);
	}
}

/*-----------------------------------------------------------------
		Secondary Nav components
-------------------------------------------------------------------*/

.footer-wrap .lead {
	background-image: url(img/logo-img-light.png);
	padding: 5% 0 2.5% 0;
}

.footer-wrap .photo {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

footer {
	color: var(--color-gold-dark);
	text-align: center;
}

.nav-secondary ul {
	list-style: none;
	padding-left: 0;
}

.nav-secondary li {
	color: var(--silver-xlight);
	display: inline;
}

.nav-secondary a {
	padding: 1rem;
}

.nav-secondary a:hover {
	color: var(--color-blue);
	text-decoration: none;
}

.footer-creation-copyrite {
	border-bottom: 1px solid var(--color-gold-dark);
}

@media (min-width: 600px) {
	.nav-secondary a {
		font-size: var(--font-size-two);
	}
}












